.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: var(--color-dark);
    padding: var(--container-padding-x) 0 var(--container-padding-x) 0;
}

/* .footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
} */

.footer__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-wrap: nowrap;
    padding: 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.footer__list li {
    margin: 0 0 0 20px;
}

.footer__link {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-light-gray);
}

.footer__logo {
    flex: 0 0 160px;
    overflow: hidden;
    position: relative;
    z-index: 3;

}

.footer__logo img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.footer__burger {
    display: none;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.footer__social {
    display: inline-flex;
}

.social_link {
    overflow: hidden;
    position: relative;
    z-index: 3;
    padding-inline-start: 15px;
}

.social_link_img {
    width: 100%;
    height: 30px;
}

.footer__about {
    color: var(--color-light-gray);
    opacity: 0.2;
    line-height: 1;
    text-align: right;
}


@media (max-width:560px) {

    body.lock {
        overflow: hidden;
    }

    .footer__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .footer__burger span {
        position: absolute;
        background-color: var(--color-light);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .footer__burger::before,
    .footer__burger::after {
        content: '';
        background-color: var(--color-light);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .footer__burger::before {
        top: 0;
    }

    .footer__burger::after {
        bottom: 0;
    }

    .footer__burger.active span {
        transform: scale(0);
    }

    .footer__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: var(--color-dark);
    }

    .footer__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: var(--color-dark);
    }

    .footer__menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 150%;
        left: 0;
        background-color: var(--color-light);
        transition: all 0.3s ease 0s;
        overflow: auto;
        color: var(--color-dark);
        padding: 50px 10px 20px 10px;
    }

    .footer__menu.active {
        top: 0;
    }

    .footer__list {
        float: inline-end;
        display: block;
    }

    .footer__list li {
        margin: 0px 30px 10px 0px;
    }

    .footer__link {
        color: var(--color-dark);
        font-size: 18px;
    }

    .footer__logo {
        flex: 0 0 80px;
    }

    .footer__right {
        font-size: 12px;
        align-items: center;
        width: 100%;
        align-items: flex-start;
        gap: 10px;
    }

    .footer__social {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__about {
        text-align: left;
    }

    .social_link_img {
        max-width: 100%;
        height: auto;
    }

    .footer__body {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__item_top {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .header.index {
        z-index: 0;
    }
}