.mb-5 {
  padding-top: 20px;
}

.marquee-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}

.marquee-wrapper .marquee-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}

.marquee-wrapper .marquee-content .card-testimonial {
  max-width: 260px;
  padding: 1rem;
  border-radius: 1rem;
}

.marquee-wrapper .marquee-content .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}

.marquee-wrapper .marquee-content .card-testimonial article picture img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}

@media (max-width: 1024px) {
  .marquee-wrapper {
    overflow: hidden;
  }
}

.scrollingX {
  animation: scroll 45s linear infinite;
}

.marquee-wrapper:hover .scrollingX {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}